*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7) url(Images/NG-en-20220801-popsignuptwoweeks-perspective_alpha_website_medium.jpg);
    background-blend-mode:darken;
    height: 40rem;
    margin-bottom: 8px solid grey;
 }
 .logo {
    width: 15%;
    margin: 1% 0 0 2% ;
    height: 8%;
 }
.container {
    background-color: rgba(0,0,0,.75);
    /* display: flex;
    flex-direction: column; */
    border-radius: 10px;
    height: 500px;
    justify-content: center;
    align-items: center;
    margin: 10% 30% 5% 30%;
    padding:  40px 100px 60px 90px;
    max-width: 100%;
    margin-top: 2%;
    margin-bottom: 4%;
}
h2 {
    color: white;
    margin-bottom: 9%;
    font-size: 30px;
}
input[type='email'],
input[type='password'],
input[type='submit']  {
    /* line-height: 40px; */
    /* margin: 10px; */
    width: 350px;
    background-color: #333;
    color: white;
    border-radius: 6px;
    border: none;
    margin-bottom: 15px;
    padding: 17px;
}
::placeholder{
    color: rgb(189, 184, 176);
    font-size: 16px;
    padding-left: 10px;
}
input[type='submit'] {
    background-color: red;
    font-size: 15px;
    font-weight: 700;
    margin-top: 5%;
    padding: 15px;
}
label {
    font-size: 14px;
    font-weight: 500;
    color: #b3b3b3;
    margin-right: 50%;
    margin-top: 2px;
}
input[type='checkbox']{
    background: #737373;
    color: #000;
}
.remem {
    color: antiquewhite;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.helper {
    color: #b3b3b3;
    text-decoration: none;
}
.helper:hover {
    text-decoration: underline;
}
.new{
    color: #737373;
    font-size: 18px;
    font-weight: 500;
    margin-top: 10%
}
.signup {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}
.protected-page {
    color: #737373;
    margin-top: 7%;
    margin-bottom: 20%;
}

.learn {
    text-decoration: none;
    color: rgb(88, 168, 243);
}

a:hover {
    text-decoration: underline;
}

.foot-container {
    display: flex;
    justify-content: space-around;
    width: 90%;
  }
  ul {
    list-style-type:none;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    line-height: 2.5;
  
  }
  footer {
    /* display: flex; */
    justify-content: space-around;
    color: #737373;
    background-color:  rgba(0,0,0,.75);
    font-size: 14px;
    padding: 30px 0;
  }
  footer p {
    margin-left: 11.9%;
    font-size: 18px;
  }
  footer a {
    text-decoration: none;
    color: #737373;
  }
  footer a:hover {
    text-decoration: underline;
  }
  .privacy {
    margin-right: 15% ;
  }
  .terms {
    margin-right: 10;
  }
  .faq {
    margin-left: 5.5%;
  }

  @media (max-width: 769px) {
    
  }